body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-nav>li>a{
    color: #FFC563;
}

.site-jumbotron{
    background-color: #FFD593;
}
.bright{
    background-color:#FFDFAD;
}

.nav-text{
    color: #FFC563;
    font-weight:bold;
}

.hide-text{
    color: #FFC563;
}

.padded{
    padding:10px;
}

a{
    color: #000000;
    text-decoration: none;
}

a:hover{
    color: #000000;
    text-decoration: none;
}

.brown{
    background-color:#491B00;
}

body{
    background-color: #FFC563;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
