
@using PetAdopt.Web.Areas.Administration.ViewModels.Pets

@{
    ViewBag.Title = "Pet Types";
    const string ControllerName = "Pets";
}

<h2>Navigation</h2>

@(Html.Kendo().Grid<PetViewModel>().Name("petTypesGrid").Columns(c=>
        {
            c.Bound(pet => pet.Name);
            c.Bound(pet => pet.Breed);
            c.Bound(pet => pet.Cost);
            c.Bound(pet => pet.BirthDate);
            c.Command(com => com.Edit()).Title("Edit");
            c.Command(com => com.Destroy()).Title("Delete");
        }).ColumnMenu()
    .Pageable(page => page.Refresh(true))
    .Sortable()
    .Groupable()
    .Filterable()
    .Editable(edit => edit.Mode(GridEditMode.PopUp))
    .ToolBar(toolbar => toolbar.Create())
    .DataSource(data =>
        data
            .Ajax()
            .Model(m => m.Id(adv => adv.Id))
            .Read(read => read.Action("Read", ControllerName))
            .Create(create => create.Action("Create", ControllerName))
            .Update(update => update.Action("Update", ControllerName))
            .Destroy(destroy => destroy.Action("Destroy", ControllerName))
            ))
