@model PetAdopt.Web.Models.ViewModels.NotificationsAndMessagesViewModel

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="/User/Notifications/Index">
            <div class="glyphicon glyphicon-bell"></div>
            <div class="badge">@Model.NotificationsCount</div>
        </a>
    </li>
    <li>
        <a href="/User/Messages/Index">
            <div class="glyphicon glyphicon-envelope"></div>
            <div class="badge">@Model.MessagesCount</div>
        </a>
    </li>
</ul>
